<template>
    <footer>
        <div class="container">
            <div class="copy">
                Made by Timur with 
                <img src="~/assets/icons/love.svg" alt="love">
                and care
            </div>
        </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style>
footer{
    color: #FFF;
    background-color: #3F51B5;
    padding: 50px;
    text-align: center;
}
    .copy{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copy img{
        margin: 2px 5px -1px;
    }
</style>
