<template>
    <header id="header" :class="$route.fullPath === '/' ? '' : 'page'">
        <div class="container head">
            <nuxt-link exact to="/" class="logo">
                <img src="~/assets/img/logo.svg" alt="Rocket Stock logo">
            </nuxt-link>
            <div class="head-icons">
                <nuxt-link active-class="active" to="/favorite" class="icons-item fav">
                    <small id="informer"></small>
                    <img src="~/assets/icons/fav.svg">
                    <span>Избранное</span>
                </nuxt-link>
                <a href="/user" class="icons-item user">
                    <img src="~/assets/icons/user.svg">
                    <span>Войти</span>
                </a>
            </div>
        </div>
    </header>
</template>

<script>
export default {

}
</script>

<style>
.clr_head{
    background-color: #333;
    transition: .5s;
}
.page{
    background-color: #333 !important;
    transition: 0s;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 0;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 9999;
    background-color: transparent;
    transition: .5s;
}
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .head-icons{
            display: flex;
            align-items: center;
        }
            .icons-item{
                padding: 10px 20px;
                text-decoration: none;
                font-size: 16px;
                color: #FFF;
                display: flex;
                align-items: center;
                margin: 0 0 0 30px;
                border-radius: 4px;
                position: relative;
                height: 48px;
                line-height: 0;
            }
            .icons-item:hover,
            .icons-item.active{
                background-color: rgba(255, 255, 255, 0.18);
            }
                .icons-item img{
                    margin: 0 10px 0 0;
                }
                .icons-item small{
                    display: none;
                }
                .icons-item small.show_info{
                    position: absolute;
                    top: 3px;
                    left: 10px;
                    padding: 2px 5px;
                    background: #3f51b5;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 1.4em;
                    min-width: 20px;
                }
</style>
