<template>
    <div class="grid-item">
        <button class="grid-item-fav" @click="$emit('addto')" :class="addet">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 21.175L10.55 19.855C5.4 15.185 2 12.105 2 8.32501C2 5.24501 4.42 2.82501 7.5 2.82501C9.24 2.82501 10.91 3.63501 12 4.91501C13.09 3.63501 14.76 2.82501 16.5 2.82501C19.58 2.82501 22 5.24501 22 8.32501C22 12.105 18.6 15.185 13.45 19.865L12 21.175Z"/>
            </svg>
        </button>
        <nuxt-link :to="'/photos/'+photo_id" class="grid-item-link">
            <img :src="sm_img" :alt="desc" class="grid-item-img">
        </nuxt-link>
    </div>
</template>

<script>
export default {
    props: [
        'photo_id',
        'sm_img',
        'desc',
        'addet'
    ]
}
</script>

<style>
.grid-item{
    background-color: #FFF;
    min-height: 200px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transform: scale(1);
    transition: .3s;
}
.grid-item:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 30px -3px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: .3s;
}
    .grid-item:hover .grid-item-fav{
        transform: scale(1);
        transition: .3s;
    }
    .added{
        background-color: #3f51b5 !important;
        transform: scale(1) !important;
        transition: .3s;
    }
        .added svg{
            fill: #FFF !important;
        }
    .grid-item-fav{
        position: absolute;
        right: 10px;
        top: 10px;
        border: 0;
        background: #ffffff;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.66);
        transform: scale(0);
        transition: .3s;
    }
    .grid-item:hover .grid-item-fav:active{
        transform: scale(0.8);
        transition: .3s;
    }
        .grid-item-fav:hover svg{
            fill: #FF7575;
        }
        .grid-item-fav svg{
            fill: #777;
            width: 50%;
            height: auto;
            margin: 2px 0 0;
        }
    .grid-item-img{
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 220px;
    }
</style>
