<template>
    <div class="search" id="search" :class="$route.fullPath === '/' ? '' : 'page-search'">
        <form class="search-form" @submit.prevent="searchPhoto(queryText)">
            <img src="~/assets/icons/search.svg" class="search-icon">
            <input type="search" name="s" class="search-input" id="search-input" :class="errorSearch ? 'error' : ''" placeholder="Найти бесплатное фото" autocomplete="off" v-model="queryText">
            <button type="submit" class="search-btn">Найти</button>
        </form>
    </div>
</template>

<script>
export default {
    props: [
        'page_fix'
    ],
    data() {
        return {
            queryText: null,
            errorSearch: false
        }
    },
    methods: {
        searchPhoto(query){
            // console.log(query);
            if(query !== null){
                localStorage.newQuery = query;
                this.$router.push('/photos');
            } else {
                this.errorSearch = true;
            }
        },
    }
}
</script>

<style>
.fix-search,
.page-search{
    position: fixed !important;
    bottom: inherit !important;
    top: 26px;
    left: 20%;
    right: 20%;
    z-index: 9999;
    max-width: 650px !important;
    transition: .3s;
}
.fix-search .search-icon,
.page-search .search-icon{
    left: 20px;
}
.fix-search .search-input,
.page-search .search-input{
    padding: 15px 30px 15px 60px;
}
.search{
    display: block;
    width: 100%;
    max-width: 1000px;
    position: relative;
    bottom: -30px;
    transition: .3s;
}
.search-form{
    position: relative;
}
    .search-icon{
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        opacity: .5;
    }
    .search-input{
        padding: 25px 30px 25px 80px;
        font-size: 16px;
        border: 0;
        background: #FFF;
        width: 100%;
        box-shadow: 0 8px 30px -3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        transition: .3s;
    }
    .search-input:focus{
        box-shadow: 0 0 0 3px #3F51B5, 0 10px 30px -10px rgba(63, 81, 181, 0.46);
        transition: .3s;
    }
    .error{
        box-shadow: 0 0 0 3px #f44336, 0 10px 30px -10px rgba(244, 67, 54, 0.4) !important;
    }
    .search-btn{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border: 0;
        background: #3F51B5;
        color: #FFF;
        font-size: 16px;
        padding: 0 40px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }
    .search-btn:hover{
        background-color: #35449a;
    }
    .search-btn:active{
        background-color: #2d3a86;
    }
</style>
