html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #EEE;
    background-image: url('../assets/img/bg.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

.section{
    background-color: #EEE;
}

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
}

.title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 60px;
    color: #333333;
    letter-spacing: 1px;
    margin: 0 0 50px;
}

.alert{
    display: block;
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    background: #fff;
    border-radius: 4px;
    color: #F44336;
    border-left: 4px #F44336 solid;
}

.btn{
    padding: 15px 30px;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    color: #FFF;
    background-color: #3f51b5;
    vertical-align: middle;
    box-shadow: none;
    transform: scale(1);
    transition: .3s;
}
.btn:hover{
    color: #FFF;
    box-shadow: 0 18px 30px -4px rgba(63, 81, 181, 0.72);
    transform: scale(1.1);
    transition: .3s;
}
.btn:active{
    color: #FFF;
    box-shadow: none;
    transform: scale(0.8);
    transition: .3s;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.fav_section{
    min-height: calc(100vh - 125px);
    padding: 150px 0 50px;
    position: relative;
}