<template>
    <main>
        <section class="section fav_section">
            <Search />
            <div class="container">
                <div class="single">
                    <div class="single-left">
                        <img :src="photos.urls.regular" :alt="photos.alt_description" class="single-img">
                    </div>
                    <div class="single-right">
                        
                        <h4 class="single-zag">Описание: </h4>
                        <div class="single-desc">{{ photos.alt_description }}</div>

                        <h4 class="single-zag">Теги: </h4>
                        <div class="tags">
                            <a href="#" class="tags-item" v-for="(tag, i) of photos.tags" :key="i" @click.prevent="clickTag(tag.title)">{{ tag.title }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import Search from '~/components/Search.vue'

export default {
    data() {
        return {
            favorite: []
        }
    },
    components: {
        Search
    },
    async asyncData({$axios, params}){
        const photos = await $axios.$get('https://api.unsplash.com/photos/'+params.id+'/?client_id=979694c91b05ca592589d2875b90c9f152e301942ba17801330ed2f3430c102f')
        return { photos }
    },
    methods: {
        clickTag(hisQuery){
            localStorage.newQuery = hisQuery;
            this.$router.push('/photos');
        }
    },
    created(){
        console.log(this.photos);
    }
}
</script>

<style>
.single{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
}
    .single-img{
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }

    .single-right{
        background: #FFF;
        padding: 30px 40px;
        border-radius: 4px;
    }
        .single-zag{
            margin: 0 0 20px;
            font-size: 32px;
            font-weight: 100;
        }
        .single-desc{
            display: block;
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 50px;
        }
        .tags{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
            .tags-item{
                margin: 0 10px 10px 0;
                padding: 7px 15px;
                background-color: #f5f5f5;
                color: #777;
                border-radius: 4px;
                font-size: 14px;
                text-decoration: none;
            }
            .tags-item:hover{
                background-color: #EEE;
                color: #111;
            }
</style>
