<template>
    <main>
        <section class="section fav_section">
            <Search />
            <div class="container">
                <h1 class="title flex-sb">
                    Результат поиска: {{ query }}
                </h1>

                <div class="history">
                    <a href="#" class="history-item" v-for="(his, index) of history" :key="index" :class="query === his ? 'active-his' : ''" @click="clickHistory(his)">{{ his }}</a>
                    <a href="#" class="history-item history-clear" @click="clearHistory()" v-if="history.length > 0">Очистить историю</a>
                </div>

                <template v-if="searchList.length > 0">
                    <div class="grid">
                        <PhotoItem 
                            v-for="(photo, index) of searchList" 
                            :key="index" 
                            :photo_id="photo.id"
                            :sm_img="photo.urls.small"
                            :desc="photo.alt_description"
                            @addto="switchFavorite(photo.id)"
                            :addet="addetFav(photo.id)"
                        />
                    </div>
                </template>
                <template v-else>
                    <div class="alert">
                        По вашему запросу ничего не найдено попробуйте перефразировать
                    </div>
                </template>
                <button class="btn loadmore" @click="loadMore()">Загрузить еще</button>
            </div>
        </section>
    </main>
</template>

<script>
import Search from '~/components/Search.vue'
import PhotoItem from '~/components/PhotoItem.vue'

export default {
    data() {
        return {
            favorite: [],
            searchList: [],
            query: null,
            history: [],
            page: 1
        }
    },
    components: {
        Search,
        PhotoItem
    },
    watch: {
        favorite(){
            document.getElementById('informer').innerHTML=this.favorite.length;
            
            if(this.favorite.length <= 0){
                document.getElementById('informer').classList.remove('show_info');
            } else {
                document.getElementById('informer').classList.add('show_info');
            }
        }
    },
    methods: {
        switchFavorite(id){
            
            if (this.favorite.indexOf(id) < 0){
            
                // Add to fav list
                this.favorite.push(id);
                const parsed = JSON.stringify(this.favorite);
                localStorage.setItem('myFavs', parsed);

            } else {

                // Del func
                function removeA(arr) {
                    var what, a = arguments, L = a.length, ax;
                    while (L > 1 && arr.length) {
                        what = a[--L];
                        while ((ax= arr.indexOf(what)) !== -1) {
                            arr.splice(ax, 1);
                        }
                    }
                    return arr;
                }

                // Remove from fav list
                this.favorite = removeA(this.favorite, id);
                const parsed = JSON.stringify(this.favorite);
                localStorage.setItem('myFavs', parsed);

            }
        },
        addetFav(id){
            if (this.favorite.indexOf(id) >= 0){
                return 'added';
            } else {
                return '';
            }
        },
        getPhotos(){
            this.query = localStorage.newQuery;

            if(localStorage.getItem('history')){
                try {
                    this.history = JSON.parse(localStorage.getItem('history'));

                    if(this.history.indexOf(this.query, 1) === -1){
                        if(this.history.length < 20){
                            this.history.push(this.query);
                        } else {
                            this.history.splice(0, 1);
                            this.history.push(this.query);
                        }
                    }

                    const parsed = JSON.stringify(this.history);
                    localStorage.setItem('history', parsed);
                } catch(e) {
                    console.log('Error localStorage: '+e);
                    localStorage.removeItem('history');
                }
            } else {
                if(this.history.indexOf(this.query, 1) === -1){
                    this.history.push(this.query);
                }
                const parsed = JSON.stringify(this.history);
                localStorage.setItem('history', parsed);
            }
            
            this.$axios
                .$get('https://api.unsplash.com/search/photos?client_id=979694c91b05ca592589d2875b90c9f152e301942ba17801330ed2f3430c102f', {
                    params: {
                        query: this.query,
                        per_page: '30',
                        page: this.page++,
                    }
                })
                .then(response => {
                    this.searchList = response.results;
                })
                .catch(error => {
                    console.log(error);
            });

            document.getElementById('search-input').value=this.query;
        },
        loadMore(){
            this.$axios
                .$get('https://api.unsplash.com/search/photos?client_id=979694c91b05ca592589d2875b90c9f152e301942ba17801330ed2f3430c102f', {
                    params: {
                        query: this.query,
                        per_page: '30',
                        page: this.page++,
                    }
                })
                .then(response => {
                    this.searchList = this.searchList.concat(response.results);
                })
                .catch(error => {
                    console.log(error);
            });
        },
        clickHistory(hisQuery){
            localStorage.newQuery = hisQuery;
            this.getPhotos();
        },
        clearHistory(){
            localStorage.removeItem('history');
            this.history = [];
        }
    },
    mounted() {
        if (localStorage.getItem('myFavs')) {
            try {
                this.favorite = JSON.parse(localStorage.getItem('myFavs'));
            } catch(e) {
                localStorage.removeItem('myFavs');
            }
        }
        var thas = this;
        var elementForm = document.querySelector('#search');
        elementForm.addEventListener('submit', function(e) {
            if(localStorage.newQuery !== ''){
                document.getElementById('search-input').classList.remove('error');
                thas.getPhotos();
            } else {
                document.getElementById('search-input').classList.add('error');
            }
        });
        this.getPhotos();
    }
}
</script>

<style>
.fav_section{
    min-height: calc(100vh - 125px);
    padding: 150px 0 50px;
    position: relative;
}
.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}
    .history-item{
        display: block;
        padding: 7px 15px;
        margin: 0 10px 10px 0;
        background-color: #FFF;
        border-radius: 4px;
        text-decoration: none;
        line-height: 1.4em;
    }
    .history-item:hover,
    .active-his{
        background: #3f51b5;
        color: #fff;
    }
    .history-clear{
        background: #333 !important;
        color: #FFF !important;
    }
    .history-clear:hover{
        background: #111 !important;
        color: #FFF !important;
    }

.loadmore{
    margin: 50px auto;
    display: block;
}
</style>
