<template>
    <main>
        <section class="section fav_section">
            <Search />
            <div class="container">
                <h1 class="title flex-sb">
                    Моё избранное
                    <button class="btn remove-all" @click="clearFavs()">Удалить все</button>
                </h1>

                <template v-if="favorite.length > 0">
                    <div class="grid">
                        <PhotoItem 
                            v-for="(photo, index) of favList" 
                            :key="index" 
                            :photo_id="photo.id"
                            :sm_img="photo.urls.small"
                            :desc="photo.alt_description"
                            @addto="switchFavorite(photo.id)"
                            :addet="addetFav(photo.id)"
                        />
                    </div>
                </template>
                <template v-else>
                    <div class="alert">
                        Вы еще ничего не добавили в избранное
                    </div>
                </template>
                
            </div>
        </section>
    </main>
</template>

<script>
import Search from '~/components/Search.vue'
import PhotoItem from '~/components/PhotoItem.vue'

export default {
    data() {
        return {
            favorite: [],
            favList: []
        }
    },
    components: {
        Search,
        PhotoItem
    },
    watch: {
        favorite(){
            document.getElementById('informer').innerHTML=this.favorite.length;
            
            if(this.favorite.length <= 0){
                document.getElementById('informer').classList.remove('show_info');
            } else {
                document.getElementById('informer').classList.add('show_info');
            }

            this.getFavPhotos();
        }
    },
    methods: {
        switchFavorite(id){
            
            if (this.favorite.indexOf(id) < 0){
            
                // Add to fav list
                this.favorite.push(id);
                const parsed = JSON.stringify(this.favorite);
                localStorage.setItem('myFavs', parsed);

            } else {

                // Del func
                function removeA(arr) {
                    var what, a = arguments, L = a.length, ax;
                    while (L > 1 && arr.length) {
                        what = a[--L];
                        while ((ax= arr.indexOf(what)) !== -1) {
                            arr.splice(ax, 1);
                        }
                    }
                    return arr;
                }

                // Remove from fav list
                this.favorite = removeA(this.favorite, id);
                const parsed = JSON.stringify(this.favorite);
                localStorage.setItem('myFavs', parsed);

            }
        },
        addetFav(id){
            if (this.favorite.indexOf(id) >= 0){
                return 'added';
            } else {
                return '';
            }
        },
        getFavPhotos(){
            this.favList = [];
            var arr = this.favorite,
                thas = this;
            arr.forEach(function(item, i, arr) {
                // console.log(i +' - '+ item);
                thas.$axios
                    .$get('https://api.unsplash.com/photos/'+item+'/?client_id=979694c91b05ca592589d2875b90c9f152e301942ba17801330ed2f3430c102f')
                    .then(response => {
                        thas.favList.push(response);
                        // console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                });
            });
        },
        clearFavs(){
            this.favorite = [];
            localStorage.setItem('myFavs', this.favorite);
        }
    },
    mounted() {
        if (localStorage.getItem('myFavs')) {
            try {
                this.favorite = JSON.parse(localStorage.getItem('myFavs'));
            } catch(e) {
                localStorage.removeItem('myFavs');
            }
        }
    }
}
</script>

<style>
.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
</style>
