<template>
    <main>
      <section class="first_section">
        <div class="first_title">
          <h1>
            Rocket Stock
            <small>Бесплатные и качественные фото</small>
          </h1>
        </div>
        <div class="section-search">
          <Search />
        </div>
      </section>
      <section class="section second_section">
        <div class="container">
          
          <div class="grid">
            <PhotoItem 
              v-for="(photo, index) of photos" 
              :key="index" 
              :photo_id="photo.id"
              :sm_img="photo.urls.small"
              :desc="photo.alt_description"
              @addto="switchFavorite(photo.id)"
              :addet="addetFav(photo.id)"
            />
          </div>
          
        </div>
      </section>
    </main>
</template>

<script>
import Search from '~/components/Search.vue'
import PhotoItem from '~/components/PhotoItem.vue'

export default {
  async fetch({store}){
    if(store.getters['photos/photos'].length === 0){
      await store.dispatch('photos/fetch')
    }
  },
   data() {
    return {
      favorite: []
    }
  },
  components: {
    Search,
    PhotoItem
  },
  watch: {
    favorite(){
      document.getElementById('informer').innerHTML=this.favorite.length;
      // console.log('Fav length = '+this.favorite.length);
      if(this.favorite.length <= 0){
        document.getElementById('informer').classList.remove('show_info');
      } else {
        document.getElementById('informer').classList.add('show_info');
      }
    }
  },
  methods: {
    switchFavorite(id){
      
      if (this.favorite.indexOf(id) < 0){
        
        // Add to fav list
        this.favorite.push(id);
        const parsed = JSON.stringify(this.favorite);
        localStorage.setItem('myFavs', parsed);

      } else {

        // Del func
        function removeA(arr) {
            var what, a = arguments, L = a.length, ax;
            while (L > 1 && arr.length) {
                what = a[--L];
                while ((ax= arr.indexOf(what)) !== -1) {
                    arr.splice(ax, 1);
                }
            }
            return arr;
        }

        // Remove from fav list
        this.favorite = removeA(this.favorite, id);
        const parsed = JSON.stringify(this.favorite);
        localStorage.setItem('myFavs', parsed);

      }
    },
    addetFav(id){
      if (this.favorite.indexOf(id) >= 0){
        return 'added';
      } else {
        return '';
      }
    }
  },
  mounted() {
    if (localStorage.getItem('myFavs')) {
      try {
        this.favorite = JSON.parse(localStorage.getItem('myFavs'));
      } catch(e) {
        localStorage.removeItem('myFavs');
      }
    }

    if(this.$route.fullPath === '/'){
      const scrollToSecScr=()=>{
        let secScr=document.querySelector('.second_section'),
            blShow=document.querySelector('.grid'),
            resScroll = Number(document.documentElement.scrollTop) - Number(180);

        if(resScroll>blShow.getBoundingClientRect().top){
          document.getElementById('header').classList.add('clr_head');
          document.getElementById('search').classList.add('fix-search');
        } else {
          document.getElementById('header').classList.remove('clr_head'); 
          document.getElementById('search').classList.remove('fix-search'); 
        }
      }
      window.addEventListener('scroll',scrollToSecScr);
    } else {
      window.removeEventListener('scroll',scrollToSecScr);
    }
    console.log(this.$route);
  },
  computed: {
    photos(){
      return this.$store.getters['photos/photos']
    }
  }
}
</script>

<style>
.first_section{
  height: 50vh;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
.first_title{
  position: absolute;
  color: #FFF;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .first_title h1{
    font-size: 80px;
    text-align: center;
  }
  .first_title h1 small{
    font-size: 20px;
    font-weight: 100;
    display: block;
    width: 100%;
  }
  .section-search{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
  }

.second_section{
  padding: 100px 0;
}
</style>
